
#header {
    position: fixed;
    height: 6rem;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    background: #fff;
    width: 100% ;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
.header-item{
    padding: 0 6rem;
}
.header-item-text ul li{
    padding: 0 1rem;
    margin: 0;
}
.header-item-text ul{
    margin: 0;
}
.header-item-text a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1rem;
}
.header-item-icon a {
    color: #000;
    font-size: 1.4rem;
    padding-left: 2rem;
    text-decoration: none;
}
#section{
    background-image: url(../Font/img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    padding: 6rem 10% 14rem 10%;
    
}

.section-banner__content h1 {
    text-transform: uppercase;
    color:#2c2e53 ;
    font-size: 2rem;
    margin-bottom: 0.75rem;
    font-weight: 700;

}
.section-banner{
    padding-left: 2.6rem;
    margin-top: 3rem ;
}
.section-banner__content span {
    color: #bd945f;
}
.section-banner__btn{
    text-transform: uppercase;
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #bd945f;
    border: 0.2rem solid #bd945f;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}
.section-banner__btn:hover {
    background-color: white;
    color: #000;
}
#section_catefory {
    background-color: #f3f3f3;
}
.list-category {
    background-color: #fff;
    position: relative;
    top: -3rem;
    padding: 0rem 3rem;
    margin: auto;
}
.list-category .row:first-child .col-md-3 {
    margin: 1rem 0;
}
.list-category img {
    height: 7rem;
    display: block;
    margin: 2rem auto;
}
.list-category p {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.list-category a {
    text-decoration: none;
    color:#2c2e53;
    font-size: 1.2rem;
    font-weight: 700;
}
#home-aboutUs {
    background-image: url(../Font/img/bg-about-us.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 1rem;
    overflow: hidden;
}
#home-aboutUs:before {
    content: "";
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}
.home-aboutUs__content {
    text-align: center;
}
.home-aboutUs__content p:first-child {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: left;
}
.home-aboutUs__content p {
    text-align: justify;
    color: #fff;
    font-size: 0.9rem;
}
#home-aboutUs .list-img ul{
    padding: 0;
}
#home-aboutUs .list-img .box {
    overflow: hidden;
    position: relative;
}
#home-aboutUs img {
    width: 100%;
    height: auto;
}
.home-aboutUs__content span {
    font-weight: 700;
}
.list-img .box .see-more {
    margin-top: 2rem;
    background-color: #bd945f;
    
} 
.list-img .box .see-more:hover  {
    background-color: #000;
}
.aboutUs-policy__item {
    background-color: #fff;
    height: 7.5rem;
    margin-bottom: 2rem;
}
.aboutUs-policy__item .img {
    display: flex;
    align-items: center;
    padding: 0 0 0 2rem;
}
.aboutUs-policy__item .content {
    padding: 1.5rem;
}
.aboutUs-policy__item .content .title {
    color: #bd945f;
    font-family: Gotham-Ultra;
    margin: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}
.aboutUs-policy__item .content .desc {
    font-size: 1rem;
    color: #000;
    margin: 0;
}
.aboutUs-policy__item .img {
    display: flex;
    align-items: center;
    padding: 0 0 0 2rem;
}
.home-news {
    padding-top: 3rem;
    text-align: center;
}
.home-news .box {
    position: relative;
}
.home-news .img-main {
    height: 33rem;
}

.home-news img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -0.3rem;
}
.home-news__effect .img {
    overflow: hidden;
    cursor: pointer;
}
.home-news .main-content p:first-child {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.2;
}
.home-news .main-content {
    background-color: #bd945f;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    padding: 1.5rem;
    text-align: justify;
}
.home-news p {
    font-size: 0.8rem;
    margin: 0;
    color: #000;
}
.home-news .readMore {
    text-align: left;
    margin-top: 0.5rem;
    text-transform: uppercase;
}
.home-news .title a {
    font-size: 1rem;
    color: #bd945f;
    text-decoration: none;
}
.home-news .main-content {
    background-color: #bd945f;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    padding: 1.5rem;
    text-align: justify;
}
.fix-height {
    margin-bottom: 2rem;
}
.home-news .readMore a {
    color: #bd945f;
    transition: 0.5s;
    font-weight: 700;
    text-decoration: none;
}
.home-news .title {
    margin-bottom: 0.5rem;
    text-align: justify;
}
.home-news .box {
    position: relative;
}
.home-news .desc {
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-prev, .slick-next {
    width: auto;
    height: auto;
    z-index: 2;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#home-contact {
    background-image: url(../Font/img/lienhe-bg.jpg);
    background-size: cover;
    padding: 0;
}
.home-contact {
    margin-top: 4rem;
    padding: 4rem 0;
    position: relative;
    display: flex;
    align-items: center;
}
.home-contact .row {
    width: 100%;
    margin: 0 auto;
    font-weight: 700;
}
.home-contact .image {
    width: 10rem;
    position: absolute;
    top: -5rem;
    left: 1rem;
}
.home-contact__content {
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    margin: 0 0 0 12rem;
}
.home-contact__form input {
    border: 0.2rem solid #fff;
    padding: 0.6rem 1.5rem;
    width: 18rem;
    font-size: 0.8rem;
}
.home-contact__form p {
    margin: 0;
    color: #fff;
    font-weight: 700;
}
b, strong {
    font-weight: bolder;
}
.home-contact__form button {
    margin: 0.6rem;
    background: #fff;
    padding: 0.6rem 1.5rem;
    font-size: 0.8rem;
    color: var(--color);
    border: 0.2rem solid #fff;
    font-weight: 700;

}
.home-contact__form button:hover {
    color: #fff;
    background: #bd945f;
}
#footer {
    background: #363636;
}
.allInfo {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    margin: 0 12rem;
}
.allInfo .info h5 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.allInfo .info h5:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 5rem;
    border-top: 0.3rem solid #fff;
}
.allInfo .info > p {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}
.allInfo .list-footer li .icon {
    width: 1.5rem;
    text-align: center;
    margin-right: 0.5rem;
}
.allInfo ul li {
    color: #d6d6d6;
    font-size: 1rem;
    list-style: none;
    display: flex;
    margin-top: 0.5rem;
}
.list-footer {
padding: 0;
}
.allInfo .list-footer li:first-child {
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
}
.allInfo ul li a {
    color: #d6d6d6;
    text-decoration: none;
}
.allInfo .info .social img {
    height: 1.75rem;
}
.allInfo .info .social {
    margin: 1.5rem 0;
}
.credit {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    color: #000;
    font-weight: 700;
}
.credit a {
text-decoration: none;
font-weight: 700;
}