*{
    font-family: Gotham-Medium, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
    list-style-type: none;
}
html {
font-size: 16px;    
}
h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: 2rem;
    color:#2c2e53;
    font-weight: 700;
}
hr{
    margin: 1rem 3rem;
    border-top: 0.35rem solid #bd945f;
    color: #bd945f;
    opacity: 1;
}
h4 {
    text-transform: uppercase;
    color: #2c2e53;
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    font-weight: 700;
}
.all-product h4:after {
    left: 0;
    transform: none;
}
h4:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 10rem;
    border-top: 0.35rem solid #bd945f;
}
.text-none {
    text-decoration: none;
}
.text-white{
    color: #fff;
}
#header {
    position: fixed;
    height: 6rem;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    background: #fff;
    width: 100% ;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
#footer {
    background: #363636;
}
.allInfo {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    margin: 0 12rem;
}
.allInfo .info h5 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.allInfo .info h5:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 5rem;
    border-top: 0.3rem solid #fff;
}
.allInfo .info > p {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}
.allInfo .list-footer li .icon {
    width: 1.5rem;
    text-align: center;
    margin-right: 0.5rem;
}
.allInfo ul li {
    color: #d6d6d6;
    font-size: 1rem;
    list-style: none;
    display: flex;
    margin-top: 0.5rem;
}
.list-footer {
padding: 0;
}
.allInfo .list-footer li:first-child {
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
}
.allInfo ul li a {
    color: #d6d6d6;
    text-decoration: none;
}
.allInfo .info .social img {
    height: 1.75rem;
}
.allInfo .info .social {
    margin: 1.5rem 0;
}
.credit {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    color: #000;
    font-weight: 700;
}
.credit a {
text-decoration: none;
font-weight: 700;
}