.box-content {
    background: #f3f3f3;
    margin-top: 5rem;
}
.banner-page {
    position: relative;
}
.banner-page__image img {
    height: 25rem;
    width: 100%;
}
.banner-page__title img {
    width: 6rem;
    display: block;
    margin: 0 auto;
}
.banner-page__title {
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box-about {
    text-align: center;
}
.banner-page__title p {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
}
.box-about {
    text-align: center;
}
.wrapper-box {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    position: relative;
    top: -3rem;
    padding: 3rem;
}
.box-about .row:not(:last-child) {
    margin-bottom: 3rem;
}
.wrapper-box .about-history p {
    text-align: justify;
}

.wrapper-box p {
    margin-bottom: 0;
    font-size: 1rem;
}
.wrapper-box .about-vision p {
    margin-top: 1.5rem;
}
.wrapper-box p {
    margin-bottom: 0;
    font-size: 0.9rem;
}
.about-policy .thumbnail {
    border: 0.2rem solid #bd945f;
    padding: 1rem;
    display: flex;
    align-items: center;
    height: 7rem;
}
.about-policy .image {
    max-width: 5rem;
}
.about-policy .title {
    color: #bd945f;
}
.about-policy .col-md-6 {
    margin-bottom: 1.5rem;
}
.about-policy .content {
    margin-left: 1rem;
    text-align: left;
}